.lilac-container {
	padding-left: 17rem!important;
}

.abc-body-wrapper {
	background-image: url('https://tailwindui.com/img/beams-home@95.jpg');
	background-color: #cccccc;
	min-height: 100dvh;
	width: 100%;
	padding-left: 25px;
	padding-right: 25px;
}
